<header class="page-header">
  <h1>Categories</h1>
</header>



<table class="table table-bordered">
  <thead>
    <tr>
      <th>Category</th>
      <th>Number of Products Listed</th>
    </tr>
  </thead>
  <tbody>
    <%= render @categories %>
  </tbody>
</table>