<header class="page-header">
  <h1>About Us</h1>
</header>

<p>
  Welcome to the Jungle! This is the spot to find the most outrageous products that are currently on the market! We're always adding the latest wacky gadgets to our marketplace.
  Come along for this wild ride and start your adventure in the Jungle!
</p>